/* You can add global styles to this file, and also import other style files */
@import "../node_modules/angular-calendar/css/angular-calendar.css";
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~open-iconic/font/css/open-iconic-bootstrap.css';

/*Clases genericas*/
.ng-invalid:not(form){
    border-left:5px solid red;
}

.ng-valid:not(form){
    border-left:5px solid green;
}