<br><br>
<div class="container">

    <div class="container gallery-container">

        <h1 class="text-center">Administration</h1>

        <p class="page-description text-center">Welcome administrator!</p>

    <div class="row mb-3">
                <div class="col-md-6">
                    <div class="contenedor">
                        <a  routerLink="/administration/admin-head-quarters">
                            <img src="../../../../assets/Parking-lot.jpg" width="100%" height="100%" class="card-img-top">
                            <h1>Parking-lot Administration</h1>
                            <p>Make new changes for parkings-lot</p>
                        </a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="contenedor">
                        <a routerLink="/administration/admin-administrators">
                            <img src="../../../../assets/admin.jpg" width="100%" height="100%" class="card-img-top">
                            <h1>Administrators</h1>
                            <p>Delete or create new users administrators</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="contenedor">
                        <a  routerLink="/administration/admin-parkings">
                            <img src="../../../../assets/parking.jpg" width="100%" height="100%" class="card-img-top">
                            <h1>Parkings Administration</h1>
                            <p>Create and administrate your parkings</p>
                        </a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="contenedor">
                        <a  routerLink="/administration/admin-users">
                            <img src="../../../../assets/people.jpg" width="100%" height="100%" class="card-img-top">
                            <h1>Users Administration</h1>
                            <p>Give your users a better experience</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>

</div>
