
.contenedor{
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
   
}
.text{
    text-align: center;
    position: absolute;
    transition: all .3s;
    transform: scale(1.5);
    opacity: 0;
}
.text-center{
    color:#302D54;
}
.contenedor {
    display: block;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;
    position:relative;     
    background-size:100% 100%;
     overflow:hidden;
     display: flex;
     align-items: center;
  } 
    
    
    .contenedor h1{
     margin: 100px 0px 0px 40px;
     position:absolute; 
     left:0px;
     top:30px; 
     transform:translateX(-120%);
     transition:all .5s ease;
     color: rgb(255, 255, 255);
    } 
    .contenedor p{
     margin: 90px 0px 0px 40px;
     position:absolute; 
     left:0px;
     top:100px; 
     transform:translateX(300%); 
     transition:all .4s ease;  
     color: #fff;
    } 
    
    .contenedor::before{ 
        position: absolute;
        bottom: 30% ;
        left: 10px;
        content:""; 
        width:0%; 
        height:180px; 
        background:rgba(0, 0, 0, 0.151);
        transition:all .3s ease;
    } 
    .contenedor:hover::before{
        width: 95%;
    }
     .contenedor:hover h1,.contenedor:hover p{
     transform:translateX(0%); 
     transition:all .3s ease;
    }
    