<div class="container">
     
 
 
  <div class="container gallery-container">
    
      <h1 class="text-center">Administration</h1>
    
      <p class="page-description text-center">Welcome administrator!</p>
        
      <div class="tz-gallery">
    
          <div class="row mb-3">
              <div class="col-md-6">
                  <div class="card">
                      <a class="lightbox" href="">
                      <img src="../../../../assets/Parking-lot.jpg" alt="Park" class="card-img-top">
                      </a>
                  </div>
              </div>
               
              <div class="col-md-6">
                  <div class="card">
                      <a class="lightbox" href="">
                      <img src="../../../../assets/car.jpg" alt="Park" class="card-img-top">
                      </a>
                  </div>
              </div>
               
             
          </div>
            <div class="row"> 
              <div class="col-md-6">
                  <div class="card">
                      <a class="lightbox" href="">
                      <img src="../../../../assets/parking.jpg" alt="Park" class="card-img-top">
                      </a>
                  </div>
              </div>
               
              <div class="col-md-6">
                  <div class="card">
                      <a class="lightbox" href="">
                      <img src="../../../../assets/users.jpg" alt="Park" class="card-img-top">
                      </a>
                  </div>
              </div>
               
              
           
          </div>
    
      </div>
    
  </div>
   
  </div>