<h6 class="text-center">Parking available</h6>
<div class="table-wrapper-scroll-y my-custom-scrollbar">
  <table class="table table-bordered table-striped mb-0">
    <thead>
      <tr>
        <th scope="col">Parking Space</th>
        <th scope="col">Reserve</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>
          <button class="btn btn-success">Reserve</button>
          <select class="form-control">
            <option value="">Just once</option>
            <option value="">Weekly</option>
            <option value="">Monthly</option>
          </select>
        </td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>
          <button class="btn btn-success">Reserve</button>
          <select class="form-control">
            <option value="">Just once</option>
            <option value="">Weekly</option>
            <option value="">Monthly</option>
          </select>
        </td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>
          <button class="btn btn-success">Reserve</button>
          <select class="form-control">
            <option value="">Just once</option>
            <option value="">Weekly</option>
            <option value="">Monthly</option>
          </select>
        </td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>
          <button class="btn btn-success">Reserve</button>
          <select class="form-control">
            <option value="">Just once</option>
            <option value="">Weekly</option>
            <option value="">Monthly</option>
          </select>
        </td>
      </tr>
      <tr>
        <th scope="row">5</th>
        <td>
          <button class="btn btn-success">Reserve</button>
          <select class="form-control">
            <option value="">Just once</option>
            <option value="">Weekly</option>
            <option value="">Monthly</option>
          </select>
        </td>
      </tr>
      <tr>
        <th scope="row">6</th>
        <td>
          <button class="btn btn-success">Reserve</button>
          <select class="form-control">
            <option value="">Just once</option>
            <option value="">Weekly</option>
            <option value="">Monthly</option>
          </select>
        </td>
      </tr>
    </tbody>
  </table>
</div>