<ngb-carousel>
    <ng-template ngbSlide>
        <img src="/assets/phone.jpg" class="cover" width="100%" alt="Random first slide">
        <div class="carousel-caption">
            <h3>AvantiParking</h3>
            <p>Manage the park from your smart phone</p>
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <img src="/assets/street.jpg" class="cover" width="100%" alt="Random third slide">
        <div class="carousel-caption">
            <h3>Do not hurry</h3>
            <p>Reserve your parking from your mobile</p>
        </div>
    </ng-template>
</ngb-carousel>