<div class="container">
  <h1 class="title text-center">Reserve</h1>
  <div class="row">
    <div class="col-md-3 ml-auto">
      <label>Parking</label>
      <div class="input-group mb-3">
        <select class="custom-select {{colorSelectParking}}" [(ngModel)]="optionSelectParking"
          (change)="captureParking()">
          <option value="0" selected>Select your parking</option>
          <option *ngFor="let park of parking">{{park}}</option>
        </select>
        <div class="input-group-append">
          <label class="input-group-text" (click)="selectParking()">OK</label>
        </div>
      </div>
    </div>
    <div class="col-md-3 mr-auto">
      <label>Vehicle</label>
      <div class="input-group mb-3">
        <select class="custom-select {{colorSelectVehicle}}" [(ngModel)]="optionSelectVehicle"
          (change)="captureVehicle()">
          <option value="0" selected>Select your vehicle</option>
          <option *ngFor="let vehicle of vehicles ">{{vehicle}}</option>
        </select>
        <div class="input-group-append">
          <label class="input-group-text" (click)="selectVehicle()">OK</label>
        </div>
      </div>
    </div>
  </div>
  <br><br>
  <div class="row">
    <div class="col-xl-3 ml-auto">
      <label>Reservation day</label>
      <form class="form-inline">
        <div class="form-group">
          <div class="input-group my-xl-4 my-sm-1">
            <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="model" ngbDatepicker
              #d="ngbDatepicker">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button"><i
                  class="material-icons">date_range</i></button>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="col-xl-3 mr-auto">
      <div class=row>
        <div class="col-md-6 ml-auto">
          <label>Starts at</label>
          <ngb-timepicker [(ngModel)]="timeStart"></ngb-timepicker>
        </div>
        <div class="col-md-6 mr-auto">
          <label>Ends at</label>
          <ngb-timepicker [(ngModel)]="timeEnd"></ngb-timepicker>
        </div>
      </div>
    </div>
  </div>
  <div>
      <h6 class="text-center">Parking available</h6>
      <div class="table-wrapper-scroll-y my-custom-scrollbar">
        <table class="table table-bordered table-striped mb-0">
          <thead>
          </thead>
          <tbody>
            <tr>
              <td class="text-center align-middle border border-success rounded" *ngFor="let lot of lots">
                <div class="border border-success rounded text-center align-middle " style="width: 80px;">
                  <button class="btn btn-success">
                    <label class="form-control text-center"> {{lot}} </label>
                    Reserve
                  </button>
                  <select class="form-control">
                    <option value="">Just once</option>
                    <option value="">Weekly</option>
                    <option value="">Monthly</option>
                  </select>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
  </div>
  


  <!--<pre>Model: {{ model | json }}</pre> -->
</div>