
.form-container{
    position: relative;
    top: 7vh;
    background: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #000;
    margin-bottom: 40px;
  }
  ._btn{
    background: white;
    border-width: 3px;
    border-color:#302D54;
    color: #302D54;
  }
  .btn1 button:hover{
  background:#302D54;
  color: #fff;
  }
  
.decore:hover{ 
  color: rgb(0, 3, 173);
   text-decoration: underline;
}
