<div class="grid-block img-fluid">
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 mx-auto my-auto ">
    <form [formGroup]="login" (submit)="onSubmit(login)" class="form-container">
      <h2 class="text"><strong>SING IN</strong></h2>
      <div class="form-group">
        <input type="email" class="form-control" formControlName="email" aria-describedby="emailHelp"
          placeholder="Enter email">
          <div class="errorcode" *ngIf="login.controls.email.errors">Email invalid</div>
      </div>
      <div class="form-group">
        <input type="password" class="form-control" formControlName="password" placeholder="Enter your Password">
        <div class="errorcode" *ngIf="login.controls.password.errors">Password invalid, also the min length is 8</div>
      </div>
      <div class="checkbox mb-3 check">
        <label class="text">
          <input type="checkbox" value="remember-me"><strong>REMEMBER ME</strong>
        </label>
      </div>
      <div class="btn1">
        <button type="submit" class="_btn btn btn-primary btn-block"><strong>SING IN</strong></button>
      </div>
      <hr>
      <div class="row justify-content-center">
        <div class="mx-auto">
          <p class="text-center decore btn ">Did you forget your password?</p>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="mx-auto">
          <p class="text-center decore btn " routerLink="/user/register">You do not have an account?</p>
        </div>
      </div>
    </form>
  </div>
</div>