
.form-container{
    position: relative;
    top: 15vh;
    background: #fff;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #000;
  }
  .btn{
    background: white;
    border-width: 3px;
    border-color:#302D54;
    color: #302D54;
  }
  .btn1 button:hover{
  background:#302D54;
  color: #fff;
  }