<app-hero></app-hero>
<br>
<div class="container-fluid">
    <div class="jumbotron">
        <h1 class="title text-white">AvantiParkig!</h1>
        <p class="lead text-white">
            It is a parking manager for the company Avantica.
            So you can reserve the parking of your vehicle.</p>
        <hr class="my-4">
        <p class="text-white">To reserve a parking, create an account right now.</p>
        <a class="btn btn-primary btn-lg" routerLink="/user/register" role="button">Register</a>
    </div>
</div>