<app-hero></app-hero>
<br>
<div class="container-fluid">
    <div class="jumbotron">
        <h1 class="text" class="title text-white"><strong>AVANTIPARKING!</strong></h1>
        <p class="lead text-white"><strong>
            It is a parking manager for the company Avantica.
            So you can reserve the parking of your vehicle.
        </strong>
          </p>
        <hr class="my-4">
        <p class="text-white"><strong>To reserve a parking, create an account right now.</strong></p>
        <a class="btn btn-secondary btn-lg" routerLink="/user/register" role="button"><strong>REGISTER</strong></a>
    </div>
</div>