<div class="container">
  <div class="jumbotron border">
    <h1 class="text title text-center"><strong>VEHICLE</strong></h1>
    <div *ngIf="form && form.image" class="mb-4" >
      <img src={{urlImg+form.image}} width=100px> 
   </div>

    <angular-file-uploader
      [config]="afuConfig"
      [resetUpload]=resetVar
      (ApiResponse)="avatarUpload($event)">
    </angular-file-uploader>
  </div>
  <form #registerVehicleForm=ngForm (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-md-3 ml-auto">
        <label class="text" for="lastName"><strong>LICENSE PLATE</strong></label>
        <input type="text" class="form-control" name="license" [(ngModel)]="form.placa" required>
      </div>
      <div class="col-md-3 mx-auto">
        <label class="text" for="lastName"><strong>MARK</strong></label>
        <input type="text" class="form-control" name="mark" [(ngModel)]="form.marca" required>
      </div>
      <div class="col-md-3 mr-auto">
        <label class="text" for="lastName"><strong>MODEL</strong></label>
        <input type="text" class="form-control" name="model" [(ngModel)]="form.modelo" required>
      </div>
    </div><br>
    <div class="text-center">
      <button type="submit" class="btn btn-outline-primary " [disabled]="!registerVehicleForm.valid"><strong>ADD
          VEHICLE</strong></button>
    </div>
  </form>

  <br>
  <hr><br>

  <div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="status=='error'">
    {{error}}
    <button type="button" class="close" aria-label="Close" id="alertError" (click)="dismissError()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="alert alert-success alert-dismissible fade show" role="alert" *ngIf="status=='success'">
    {{success}}
    <button type="button" class="close" aria-label="Close" id="alertSuccess" (click)="dismissSuccess()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div>
    <h4 class="text" class="text text-center"><strong>VEHICLES</strong></h4>
    <div class="table-responsive">
      <table class="table table-bordered table-hover  ">
        <thead class="thead">
          <tr>
            <th>VIEW PHOTO</th>
            <th>CHANGE PHOTO</th>
            <th>LICENCE PLATE</th>
            <th>MARK</th>
            <th>MODEL</th>
            <th>MODIFY</th>
            <th>REMOVE</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let vehicle of vehicles">
            <td><div *ngIf="form && form.image" class="mb-4" >
              <img src={{urlImg+form.image}} width=100px> </div>
            </td>
            <td><angular-file-uploader
              [config]="afuConfig"
              [resetUpload]=resetVar
              (ApiResponse)="avatarUpload($event)">
            </angular-file-uploader></td>
            <td><input type="text" class="form-control" disabled [(ngModel)]="vehicle.placa"></td>
            <td><input type="text" class="form-control" [(ngModel)]="vehicle.marca"></td>
            <td><input type="text" class="form-control" [(ngModel)]="vehicle.modelo"></td>
            <td><button (click)="edit(vehicle)" class="btn btn-success">MODIFY</button></td>
            <td><button (click)="delete(vehicle)" class="btn btn-danger">DELETE</button></td>

          </tr>
        </tbody>
      </table>
    </div>
  </div>
 
</div><br>