<br><br>
<div class="container">
    <h1 class="title text text-center"><strong>ADMINISTRATORS</strong></h1>
    <div>
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead class="thead">
                    <tr>
                        <th>PHOTO</th>
                        <th>NAME</th>
                        <th>LAST NAME</th>
                        <th>EMAIL</th>
                        <th>ADMINISTRATORS</th>
                    </tr>
                </thead>
                <tbody>
                    <tr >
                        <td></td>
                        <td><button class="btn btn-outline-secondary material-icons mr-auto text-center" data-toggle="modal"data-target="#UpImg">photo_camera</button></td>
                        <td><input type="text" class="form-control" ></td>
                        <td><input type="text" class="form-control"></td>
                        <td><input type="text" class="form-control" ></td>
                        <td><button (click)="edit()" class="btn btn-success" data-toggle="modal" data-target="#deleteReserve">MODIFY</button></td>
                        <td><button (click)="delete()" class="btn btn-danger"  data-toggle="modal" data-target="#delete">DELETE</button></td>
                        
                      </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal fade bd-example-modal-xl" id="FullImage" tabindex="-1" role="dialog" aria-labelledby="FullImage"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="rounded mx-auto d-block">
                        <img src="/assets/user.jpg" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="Privileges" tabindex="-1" role="dialog" aria-labelledby="Privileges"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Privileges</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p class="lead">If you want to delete or give privileges, type your password</p>
          <div class="row">
            <div class="col-md-6">
              <label for="Password">Password</label>
              <input type="password" class="form-control" id="password" placeholder="****">
              <div class="invalid-feedback">
                Please enter a valid password.
              </div>
            </div>
            <div class="col-md-6">
              <label for="Password">Confirm Password</label>
              <input type="password" class="form-control" id="password2" placeholder="****">
              <div class="invalid-feedback">
                Please enter a valid password.
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-danger">Confirm</button>
        </div>
      </div>
    </div>
  </div>
</div>
