.container{
    padding-top: 100px;
}

.btn-block{
    margin-top: 35px !important ;
    margin-bottom: 19px !important;
    margin-right: 10px !important;
}
.btn-block{
    margin-top: 45px !important ;
    margin-bottom: 19px !important;
    margin-right: 10px !important;
    background: white;
    color:#302D54;
    border-color:#302D54;
}
.btn-block:hover{
    background:#302D54;
    color: #fff;
}
.form-control{
    border-color:#302D54;
}
.jumbotron{
    padding: 20px;
    background:rgb(248, 248, 250);
}
.thead{
    background:#302D54;
    color: #fff;
}
.text{
    color:#302D54;
}