.jumbotron{
    padding: 50px;
    background:rgb(248, 248, 250);
}
.decore:hover{ 
    color: rgb(0, 3, 173);
     text-decoration: underline;
}
.text{
    color:#302D54;
}
.form-control{
    border-color:#302D54;
}
.btn-outline-secondary {
    background: white;
    border-color:#302D54;
    color: #302D54;
  }
  .btn-outline-secondary:hover{
  background:#302D54;
  color: #fff;
  }
  