._btn{
    background:white;
    border-width: 4px;
    border-color:#302D54;
    color: #302D54;
    padding: 7px;
}
.hover_button:hover{
    background: #302d54;
    color: #fff;
}
.decore:hover{ 
    color: rgb(0, 3, 173); 
    text-decoration: underline;
}
.text{
    color:#302D54;
}
.form-control{
    border-color:#302D54;
}
.custom-select{
    border-color:#302D54;
}