<br>
<div class="container">
  <div class="py-3 text-center">
    <h2 class="text"><strong>REGISTER</strong></h2>
    <p class="lead">Forward you are shown a registration form, to be able
      to use the AvantiParking application, we must be registered.</p>
  </div>
  <div class="row">
    <div class="col-md-12 order-md-1">
      <form #signupForm=ngForm (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col-md-6 mb-3">
            <label class="text"><strong>FULL NAME</strong></label>
            <input type="text" class="form-control" name="name" [(ngModel)]="form.nombre" required>
            <div class="alert alert-danger" [hidden]="!error.nombre">
              {{error.nombre}}
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <label class="text" for="id"><strong>ID</strong></label>
            <input type="text" class="form-control" name="id" [(ngModel)]="form.id" required pattern="[0-9]+">
            <div class="alert alert-danger" [hidden]="!error.id">
              {{error.id}}
            </div>
          </div>
        </div>
        <div class="mb-3">
          <label class="text"><strong>EMAIL</strong></label>
          <input type="email" class="form-control" name="email" [(ngModel)]="form.email" required
            placeholder="you@example.com">
          <div class="alert alert-danger" [hidden]="!error.email">
            {{error.email}}
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <label class="text" for="Phone"><strong>ADDRESS</strong></label>
            <input type="text" class="form-control" name="address" [(ngModel)]="form.direccion">
            <div class="alert alert-danger" [hidden]="!error.direccion">
              {{error.direccion}}
            </div>
          </div>
          <div class="col-md-4">
            <label class="text" for="Phone"><strong>PHONE</strong></label>
            <input type="phone" class="form-control" name="phone" [(ngModel)]="form.telefono" pattern="[0-9]+">
            <div class="alert alert-danger" [hidden]="!error.telefono">
              {{error.telefono}}
            </div>
          </div>
          <div class="col-md-6">
            <label class="text" for="Password"><strong>PASSWORD</strong></label>
            <input type="password" class="form-control" name="password" [(ngModel)]="form.password" required>
            <div class="alert alert-danger" [hidden]="!error.password">
              {{error.password}}
            </div>
          </div>
          <div class="col-md-6">
            <label class="text" for="Password"><strong>CONFIRM PASSWORD</strong></label>
            <input type="password" class="form-control" name="confirmation" [(ngModel)]="form.password_confirmation"
              required>
          </div>
        </div>
        <br>

        <button type="submit" class="_btn btn-outline-primary btn-block rounded border border-secondary"
          data-toggle="tooltip" data-placement="left" [disabled]="!signupForm.valid"
          title="Register to enjoy AvantiParking"><strong>REGISTER</strong></button>

        <br><br>
        <div class="row justify-content-center">
          <div class="mx-auto">
            <p class="text-center decore btn " routerLink="/user/login">Do you already have an account?</p>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>