._btn{
    background:white;
    border-width: 3px;
    border-color:#302D54;
    color: #302D54;
  
}
.text-center button:hover{
   background: #302D54;
    color: #fff;
}
 
.decore:hover{ 
    color: rgb(0, 3, 173);
     text-decoration: underline;
  }
  